<div class="rg">
    <nav id="#rg">
        <img src="../../../assets/logorg.png" alt="">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#informacion">Informacion</a></li>
            <li><a href="#destinos">Destinos</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</div>
    <div class="titulo">
        <section>
            <h1>Conoce Rio Grande</h1>
            <button class="btn btn1">CONOCER</button>
        </section>
    </div>

