<div class="container">
    <h1>DESTINOS</h1>
    <div class="container-destinos">
        <div class="desti" style="background-image: url(../../../assets/cabodomingo.jpg);">
            <div class="text">
                <h2>Cabo Domingo</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat debitis ipsum rerum laboriosam architecto libero recusandae molestiae mollitia totam nulla, dicta exercitationem deleniti id, distinctio cumque delectus corrupti repellendus voluptas.</p>
            </div>
        </div>

        <div class="desti" style="background-image: url(../../../assets/mision.jpg);">
            <div class="text">
                <h2>Mision Salesiana</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum et molestiae iusto quasi distinctio. Voluptate rem at nulla. Praesentium vel nesciunt numquam laudantium quae obcaecati? Nobis tempora ipsam ipsa accusamus.</p>
            </div>
        </div>

        <div class="desti" style="background-image: url(../../../assets/museo.jpg);">
            <div class="tex">
                <h2>Museo Virginia Choquintel</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum et molestiae iusto quasi distinctio. Voluptate rem at nulla. Praesentium vel nesciunt numquam laudantium quae obcaecati? Nobis tempora ipsam ipsa accusamus.</p>
            </div>
        </div>

        <div class="desti" style="background-image: url(../../../assets/parque.jpg);">
            <div class="tex">
                <h2>Parque de los 100 Años</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum et molestiae iusto quasi distinctio. Voluptate rem at nulla. Praesentium vel nesciunt numquam laudantium quae obcaecati? Nobis tempora ipsam ipsa accusamus.</p>
            </div>
        </div>

        <div class="desti" style="background-image: url(../../../assets/popper.jpg);">
            <div class="tex">
                <h2>Reserva Natural Urbana Punta Popper</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum et molestiae iusto quasi distinctio. Voluptate rem at nulla. Praesentium vel nesciunt numquam laudantium quae obcaecati? Nobis tempora ipsam ipsa accusamus.</p>
            </div>
        </div>

        <div class="desti" style="background-image: url(../../../assets/lobos.jpg);">
            <div class="tex">
                <h2>Isla de los Lobos</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum et molestiae iusto quasi distinctio. Voluptate rem at nulla. Praesentium vel nesciunt numquam laudantium quae obcaecati? Nobis tempora ipsam ipsa accusamus.</p>
            </div>
        </div>



    </div>
</div>