<div class="RG">
    
    <section id="informacion">
        <h1>RIO GRANDE</h1>
        <p>
            Río Grande es una ciudad y municipio localizado en la provincia de Tierra del Fuego, Antártida e Islas del Atlántico Sur perteneciente al territorio de la República Argentina, ubicada en la costa noreste de la isla Grande de Tierra del Fuego sobre el Mar Argentino, cuyo afluente austral del Océano Atlántico se denomina el Río Grande, motivo por el cual la ciudad toma su nombre.
    En el año 2010 contaba con una población de 66 475 habitantes; la población en 2021 se estima en 98 277 habitantes.
    La ciudad es la cabecera de facto del departamento Río Grande ubicado dentro de la provincia y la ciudad más poblada de la provincia de Tierra del Fuego, Antártida e Islas del Atlántico Sur, y es, a su vez, la más poblada de toda la isla.
    Ostenta ser la ciudad netamente industrial más austral de Argentina y un fuerte polo económico que resulta trascendente dentro de la Economía de Argentina ya que se llevan a cabo una gran cantidad de procesos industriales y tiene arraigadas un buen número de fábricas tanto nacionales como internacionales. La carta orgánica municipal fue sancionada el 30 de noviembre de 2006.
    Es conocida por ser la capital nacional de la trucha y declarada en el año 2013 por el gobierno argentino mediante la ley nacional N° 26.846 "Capital Nacional de la vigilia por la gloriosa gesta de Malvinas" en referencia al acontecimiento que recuerda la Guerra de las Malvinas y desde el año 1984 se realiza durante la noche del 1° y la mañana del 2° de abril, donde la población de Río Grande se reúne de manera espontánea a conmemorar la memoria de la Gloriosa Gesta de Malvinas desde el mayor de los respetos para sus combatientes y enalteciendo el justo reclamo soberano por las Islas Malvinas y sus espacios marítimos circundantes.
        </p>
    </section>
  
</div>
